{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<form action="p3-q2" method="get">

<div class="banklist">

  {{ govukTable({
    caption: "Your credit cards",
    firstCellIsHeader: true,
    head: [
      {
        text: "Account"
      },
      {
        text: "Outstanding Amount", format: "numeric"
      }
    ],
    rows: [
      [
        {
          text: "HSBC"
        },
        {
          text: "£1092.80", format: "numeric"
        }
      ],
      [
        {
          text: "Next"
        },
        {
          text: "£64.30", format: "numeric"
        }
      ]
    ]
  }) }}

</div>


{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Do you have any other credit cards or store cards?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Tell us about any other cards that you are responsible for paying for"
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
</form>

{% endblock %}
