{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<form action="p6-amber1" method="get">

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "changed-name",
    name: "changed-name",
    fieldset: {
      legend: {
        text: "Have you changed your name?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "This includes changing your last name or spelling your name differently."
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </form>
{% endblock %}
