{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">You need help</h1>

<ul class="govuk-list govuk-list--bullet">
<li>You have a serious debt problem.
<li>Help is available.
</ul>

<p class="govuk-body">Share this with your work coach so they can help find the support you need.</p>

{{ govukButton({
  text: "Ask for help"
}) }}

<div>
<a href="p8-list1.html">To seek help the following organisations can assist you.</a>

</div>

{% endblock %}
