{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l banner-amber">You have money problems</h1>

<p class="govuk-body">Your financial health is a cause for concern.
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Your debt is difficult to manage
    <li>Look at the forecasts and reports on this app to help you make changes to your spending.
    <li>Help is available.
  </ul>

  <a href="p10-fin-report.html">Your Monthly summary</a>



<div class = "finimage">
  <img src="/public/images/Piechart.svg" alt=""/>
  </div>

  <div class = "finimage">
    <img src="/public/images/Barschart.svg" alt=""/>
    </div>

{% endblock %}
