{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">People that can help you</h1>

<p class="govuk-body">You can contact these organisations yourself or get your
work coach to help you.
</p>

<div class="infolist">
  <div class="name">Step Change</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Citizens Advice Centre</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 679 2345</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Christians against poverty</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161  404 5346</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Turn2Us</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161  404 5346</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>


{{govukBackLink({
  text: "Back", href: "p5-red1"
})}}


{% endblock %}
