{% extends "layout.html" %}

{% block pageTitle %}
  Check your financial health
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">People that can help you</h1>

<div class="infolist">
  <div class="name">Citizens Advice Centre</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Citizens Advice Centre 2</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Citizens Advice Centre 3</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Citizens Advice Centre 4</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>

<div class="infolist">
  <div class="name">Citizens Advice Centre 5</div>
  <div class="desc">Provide advice on debt management.</div>
  <div class="phone"><a href="tel:01612359734">0161 235 9734</a></div>
  <div class="website"><a href="www.cab.org.uk">www.cab.org.uk</a></div>
</div>


{{govukBackLink({
  text: "Back", href: "p5-red1"
})}}


{% endblock %}
